header{
    background-color: rgb(228, 228, 228);
    text-align: center;
}

#fotoprofilo{
    height: 300px;
    width: 350px;
}

.titolitematici{
    color: rgb(228, 199, 34);
    font-size: xx-large;
}

hr{
    border-color: rgb(228, 199, 34);
}

main{
    padding: 8px;
}
